body {
    background-color: #09090B;
    color: #FAFAFA;
    font-family: "Inter", sans-serif;
}

header {
    border-bottom: 1px solid #27272A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 48px;
    margin-bottom: 144px;
}

footer {
    border-top: 1px solid #27272A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 48px;
    margin-top: 144px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

button {
    background-color: #FAFAFA;
    border: none;
    height: 32px;
    width: auto;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-izq {
    display: flex;
    gap: 32px;
    align-items: center;
}

.header-der {
    display: flex;
    gap: 32px;
    align-items: center;
}

.footer-izq {
    display: flex;
    gap: 32px;
    align-items: center;
}

.footer-der {
    display: flex;
    gap: 32px;
    align-items: center;
}

.grafico {
    width: 1024px;
    height: auto;
    border-radius: 4px;
}

.cajones {
    display: flex;
    gap: 48px;
}

.cajon {
    width: 288px;
    height: 220px;
    line-height: 28px;
    font-size: 14px;
}

.cajon.h3 {
    font-size: 24px;
}

.cuadrado {
    border: #27272A 1px solid;
    border-radius: 6px;
    width: 56px;
    height: auto;
}

.get {
    margin: 20px 0px 20px 15px;
}

.secciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mini-graf {
    width: 672px;
    height: auto;
    border-radius: 4px;
}

@media (width <= 375px){

    body {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        text-align: center;
    }
    main {
        gap: 30px;
        padding: 0px 32px 96px 32px;
        width: 100%;
        align-items: center;
        
    }
    header {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 60px;
        margin: 0;
        gap: 70px;
    }
    .grafico {
        width: 311px;
    }
    .mini-graf{
        width: 311px;
    }
    .cajones {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .doc {
        display: none;
    }
    .stat {
        display: none;
    }
    .pri {
        display: none;
    }
    .faq {
        display: none;
    }
    .cont {
        display: none;
    }
    h1 {
        font-size: 48px;
    }
    p {
        font-size: 14px;
    }
    .header-der {
        gap: 5px;
    }
    .header-izq {
        gap: 5px;
    }
}
